<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyt.device.mapper.DeviceCameralistMapper">
    
    <resultMap type="DeviceCameralist" id="DeviceCameralistResult">
        <result property="id"    column="id"    />
        <result property="deviceId"    column="deviceId"    />
        <result property="cameraList"    column="cameraList"    />
        <result property="currentTime"    column="currentTime"    />
        <result property="showDate"    column="showDate"    />
        <result property="company" column="company"/>
        <result property="routeName" column="routeName"/>
        <result property="selfNum" column="selfNum"/>
        <result property="plateNum" column="plateNum"/>
        <result property="iccid" column="iccid"/>
        <result property="currentDeviceVersion" column="currentDeviceVersion"/>
        <result property="screenBrightness" column="screenBrightness"/>
    </resultMap>

    <sql id="selectDeviceCameralistVo">
        select id, deviceId, cameraList, currentTime, showDate from device_cameraList
    </sql>

    <select id="selectDeviceCameralistList" parameterType="DeviceCameralist" resultMap="DeviceCameralistResult">
        select c.id, c.deviceId, c.cameraList, c.currentTime, c.showDate, d.company, d.routeName, d.selfNum, d.plateNum, d.iccid, d.currentDeviceVersion, d.screenBrightness from device_cameraList c,device d
        <where>
            c.deviceId=d.deviceId
            <if test="deviceId != null  and deviceId != ''"> and deviceId = #{deviceId}</if>
            <if test="cameraList != null  and cameraList != ''"> and cameraList = #{cameraList}</if>
            <if test="currentTime != null "> and currentTime = #{currentTime}</if>
            <if test="showDate != null "> and showDate = #{showDate}</if>
            <if test="company != null "> and company = #{company}</if>
            <if test="routeName != null "> and routeName = #{routeName}</if>
            <if test="selfNum != null "> and selfNum = #{selfNum}</if>
            <if test="plateNum != null "> and plateNum = #{plateNum}</if>
            <if test="iccid != null "> and iccid = #{iccid}</if>
            <if test="currentDeviceVersion != null "> and currentDeviceVersion = #{currentDeviceVersion}</if>
            <if test="screenBrightness != null "> and screenBrightness = #{screenBrightness}</if>
            order  by d.routeName asc
        </where>
    </select>
    
    <select id="selectDeviceCameralistById" parameterType="Long" resultMap="DeviceCameralistResult">
        <include refid="selectDeviceCameralistVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDeviceCameralist" parameterType="DeviceCameralist" useGeneratedKeys="true" keyProperty="id">
        insert into device_cameraList
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">deviceId,</if>
            <if test="cameraList != null">cameraList,</if>
            <if test="currentTime != null">currentTime,</if>
            <if test="showDate != null">showDate,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="cameraList != null">#{cameraList},</if>
            <if test="currentTime != null">#{currentTime},</if>
            <if test="showDate != null">#{showDate},</if>
         </trim>
    </insert>

    <update id="updateDeviceCameralist" parameterType="DeviceCameralist">
        update device_cameraList
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null">deviceId = #{deviceId},</if>
            <if test="cameraList != null">cameraList = #{cameraList},</if>
            <if test="currentTime != null">currentTime = #{currentTime},</if>
            <if test="showDate != null">showDate = #{showDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeviceCameralistById" parameterType="Long">
        delete from device_cameraList where id = #{id}
    </delete>

    <delete id="deleteDeviceCameralistByIds" parameterType="String">
        delete from device_cameraList where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>